In [62]:
import pandas as pd

In [63]:

data = pd.read_csv("MovieGenre.csv",encoding='latin1')
data

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...
...,...,...,...,...,...,...
40103,83168,http://www.imdb.com/title/tt83168,Tanya's Island (1980),4.3,Drama,https://images-na.ssl-images-amazon.com/images...
40104,82875,http://www.imdb.com/title/tt82875,Pacific Banana (1981),4.7,Comedy,https://images-na.ssl-images-amazon.com/images...
40105,815258,http://www.imdb.com/title/tt815258,Werewolf in a Womens Prison (2006),4.5,Horror,https://images-na.ssl-images-amazon.com/images...
40106,79142,http://www.imdb.com/title/tt79142,Xiao zi ming da (1979),6.5,Action|Comedy,https://images-na.ssl-images-amazon.com/images...
40107,70710,http://www.imdb.com/title/tt70710,Snatched (1973),6.5,Crime|Drama|Thriller,NaN

In [64]:
data['Title']

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
40103                 Tanya's Island (1980)
40104                 Pacific Banana (1981)
40105    Werewolf in a Womens Prison (2006)
40106                Xiao zi ming da (1979)
40107                       Snatched (1973)
Name: Title, Length: 40108, dtype: object

In [65]:
year = []
title = []

In [66]:
for i in range(len(data)):
    temp = data['Title'][i] #take the title with year
    temp = temp.split("(") #split into 0:title  1: year)
    title.append(temp[0][:-1]) #add title to title array without final space
    try:
        temp[1] = temp[1][:-1] #remove ) from year
    except:
        year.append('2022') #if no year we insert 2022 temporarily
        continue
    year.append(temp[1])

In [68]:
titleDF = pd.DataFrame(title)
titleDF

                                 0
0                        Toy Story
1                          Jumanji
2                 Grumpier Old Men
3                Waiting to Exhale
4      Father of the Bride Part II
...                            ...
40103               Tanya's Island
40104               Pacific Banana
40105  Werewolf in a Womens Prison
40106              Xiao zi ming da
40107                     Snatched

[40108 rows x 1 columns]

In [69]:
yearDF = pd.DataFrame(year)
yearDF

          0
0      1995
1      1995
2      1995
3      1995
4      1995
...     ...
40103  1980
40104  1981
40105  2006
40106  1979
40107  1973

[40108 rows x 1 columns]

In [70]:
data['Title'] = titleDF
data['Year'] = yearDF
data

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster,Year
0,114709,http://www.imdb.com/title/tt114709,Toy Story,8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...,1995
1,113497,http://www.imdb.com/title/tt113497,Jumanji,6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...,1995
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men,6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...,1995
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale,5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...,1995
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II,5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...,1995
...,...,...,...,...,...,...,...
40103,83168,http://www.imdb.com/title/tt83168,Tanya's Island,4.3,Drama,https://images-na.ssl-images-amazon.com/images...,1980
40104,82875,http://www.imdb.com/title/tt82875,Pacific Banana,4.7,Comedy,https://images-na.ssl-images-amazon.com/images...,1981
40105,815258,http://www.imdb.com/title/tt815258,Werewolf in a Womens Prison,4.5,Horror,https://images-na.ssl-images-amazon.com/images...,2006
40106,79142,http://www.imdb.com/title/tt79142,Xiao zi ming da,6.5,Action|Comedy,https://images-na.ssl-images-amazon.com/images...,1979
40107,70710,http://www.imdb.com/title/tt70710,Snatched,6.5,Crime|Drama|Thriller,NaN,1973