In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("BingeWatch.csv",encoding='latin1')
data

      Unnamed: 0     imdbID        Genre
0              0  tt2912776        Music
1              1  tt2912776        Drama
2              2  tt3240784  Documentary
3              3  tt2265431      Romance
4              4  tt2265431        Drama
...          ...        ...          ...
9297        9297  tt0081398    Biography
9298        9298  tt0080678    Biography
9299        9299  tt0080948        Music
9300        9300  tt0080549        Music
9301        9301  tt0080549    Biography

[9302 rows x 3 columns]

In [3]:
imdbID = []
genre = []

In [4]:
for i in range(len(data)):
    if isinstance(data['Genre'][i], str):
        imdbID.append(data['imdbID'][i])
        genre.append(data['Genre'][i])

In [5]:
len(imdbID)

9290

In [6]:
newdata = pd.DataFrame()
newdata['imdbID'] = imdbID
newdata['Genre'] = genre
newdata

         imdbID        Genre
0     tt2912776        Music
1     tt2912776        Drama
2     tt3240784  Documentary
3     tt2265431      Romance
4     tt2265431        Drama
...         ...          ...
9285  tt0081398    Biography
9286  tt0080678    Biography
9287  tt0080948        Music
9288  tt0080549        Music
9289  tt0080549    Biography

[9290 rows x 2 columns]

In [7]:
newdata.to_csv('BingeWatch.csv')