In [1]:
import pandas as pd
import numpy as np

In [2]:
dfArray = []

In [3]:
for i in range (1980, 2016):
    temp = pd.read_csv(f"csvData/{i}.csv")
    dfArray.append(temp)

In [4]:
len(dfArray)

36

In [5]:
for i in range(len(dfArray)):
    dfArray[i]['Genre'] = dfArray[i]['Genre'].str.split(', ')

In [8]:
imdbID = []
genre = []

In [17]:
dfArray[0]['Genre'][2]
len(dfArray[0]['Genre'][2])

1

In [18]:
for i in range(len(dfArray)): #looping all csv files
    for j in range(len(dfArray[i])): #looping rows in each csv file
        #now for every row we want to check the length of genre array
        #if it's only 1 we append and continue
        #if it's more we loop and append all genres next to the same imdbid
        try:
            for k in range(len(dfArray[i]['Genre'][j])):
                imdbID.append(dfArray[i]['imdbID'][j])
                genre.append(dfArray[i]['Genre'][j][k])
        except:
                imdbID.append(dfArray[i]['imdbID'][j])
                genre.append(dfArray[i]['Genre'][j])

In [84]:
idDF = pd.DataFrame(imdbID)
idDF

              0
0     tt0080377
1     tt0080549
2     tt0080948
3     tt0080360
4     tt0080569
...         ...
8942  tt3237942
8943  tt2912776
8944  tt4797082
8945  tt5350540
8946  tt4529904

[8947 rows x 1 columns]

In [85]:
genreDF = pd.DataFrame(genre)
genreDF

                0
0          Comedy
1           Music
2           Music
3          Horror
4        Thriller
...           ...
8942       Horror
8943        Music
8944  Documentary
8945  Documentary
8946       Comedy

[8947 rows x 1 columns]

In [86]:
newdata = pd.DataFrame()

In [87]:
newdata['imdbID'] = idDF
newdata['Genre'] = genreDF
newdata

         imdbID        Genre
0     tt0080377       Comedy
1     tt0080549        Music
2     tt0080948        Music
3     tt0080360       Horror
4     tt0080569     Thriller
...         ...          ...
8942  tt3237942       Horror
8943  tt2912776        Music
8944  tt4797082  Documentary
8945  tt5350540  Documentary
8946  tt4529904       Comedy

[8947 rows x 2 columns]

In [88]:
def listToString(s): 
    
    # initialize an empty string
    str1 = "" 
    
    # traverse in the string  
    for ele in s: 
        str1 += ele  
    
    # return string  
    return str1

In [89]:
for i in range(len(newdata)):
    try:
        newdata['Genre'][i] = listToString(newdata['Genre'][i])
    except:
        continue

In [90]:
newdata

         imdbID        Genre
0     tt0080377       Comedy
1     tt0080549        Music
2     tt0080948        Music
3     tt0080360       Horror
4     tt0080569     Thriller
...         ...          ...
8942  tt3237942       Horror
8943  tt2912776        Music
8944  tt4797082  Documentary
8945  tt5350540  Documentary
8946  tt4529904       Comedy

[8947 rows x 2 columns]

In [91]:
newdata.to_csv('FinalData.csv')

In [52]:
data = pd.read_csv("MultiGenre.csv")
data

       Unnamed: 0     imdbID        Genre
0               0  tt0080684       Action
1               1  tt0080684    Adventure
2               2  tt0080684      Fantasy
3               3  tt0081562       Comedy
4               4  tt0081562        Crime
...           ...        ...          ...
30906       30906  tt2241750        Sport
30907       30907  tt4797082  Documentary
30908       30908  tt5350540  Documentary
30909       30909  tt5350540        Short
30910       30910  tt4529904       Comedy

[30911 rows x 3 columns]

In [53]:
GenreString = []

In [54]:
genre = []
imdbID = []

In [55]:
for i in range(len(data)):
    imdbID.append(data['imdbID'][i])
    genre.append(data['Genre'][i])

In [56]:
for i in range(len(genre)):
    if genre[i] not in GenreString:
        GenreString.append(genre[i])

In [57]:
len(GenreString)

28

In [58]:
for i in range (len(GenreString) -1, 0 ,-1): #had a nan value
    if not isinstance(GenreString[i], str):
        GenreString.pop(i)
GenreString

['Action',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Crime',
 'War',
 'Biography',
 'Drama',
 'Music',
 'Romance',
 'Family',
 'Western',
 'Horror',
 'Sci-Fi',
 'Sport',
 'Mystery',
 'Thriller',
 'Musical',
 'History',
 'Documentary',
 'Animation',
 'Short',
 'Adult',
 'Reality-TV',
 'Game-Show',
 'Talk-Show',
 'News']

In [75]:

GenreCounter = np.zeros(len(GenreString), dtype=object)
GenreCounter

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0], dtype=object)

In [76]:
len(GenreString)

27

In [77]:
for i in range(len(genre)):
    for j in range(len(GenreString)):
        if genre[i] == GenreString[j]:
            GenreCounter[j]+=1

In [78]:
GenreCounter

array([2424, 1539, 873, 5364, 2192, 0, 720, 6533, 594, 2324, 767, 0, 1039,
       772, 0, 812, 1652, 0, 0, 1038, 0, 0, 0, 0, 0, 0, 0], dtype=object)

In [70]:
GenreString

['Action',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Crime',
 'War',
 'Biography',
 'Drama',
 'Music',
 'Romance',
 'Family',
 'Western',
 'Horror',
 'Sci-Fi',
 'Sport',
 'Mystery',
 'Thriller',
 'Musical',
 'History',
 'Documentary',
 'Animation',
 'Short',
 'Adult',
 'Reality-TV',
 'Game-Show',
 'Talk-Show',
 'News']

In [83]:
for i in range(len(GenreString)):
    if GenreCounter[i]:
        print(f"Genre: {GenreString[i]} Size: {GenreCounter[i]}")

Genre: Action Size: 594
Genre: Adventure Size: 594
Genre: Fantasy Size: 594
Genre: Comedy Size: 594
Genre: Crime Size: 594
Genre: Biography Size: 594
Genre: Drama Size: 594
Genre: Music Size: 594
Genre: Romance Size: 594
Genre: Family Size: 594
Genre: Horror Size: 594
Genre: Sci-Fi Size: 594
Genre: Mystery Size: 594
Genre: Thriller Size: 594
Genre: Documentary Size: 594

Now to delete genres with less than 500 Movie

In [73]:
for i in range(len(GenreString)):
    if GenreCounter[i] < 500:
        for j in range(len(genre) - 1 , 0 , -1):
            if genre[j] == GenreString[i]:
                genre.pop(j)
                imdbID.pop(j)

In [74]:
len(genre)

28680

Now to delete from genres with more than 500 movie to make it have only 594 movies

In [81]:
for i in range(len(GenreString)):
    if GenreCounter[i] != 0:
        for j in range(len(genre)):
            if j <len(genre):
                if GenreCounter[i] > 594:
                    if genre[j] == GenreString[i]:
                        genre.pop(j)
                        imdbID.pop(j)
                        GenreCounter[i]-=1
            else:
                continue

In [82]:
len(genre)

8947